<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huayu.mapper.SysDishMapper">
    <resultMap id="BaseResultMap" type="com.huayu.vo.SysDishVO">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
            <result property="categoryId" column="category_id"/>
            <result property="price" column="price"/>
            <result property="code" column="code"/>
            <result property="image" column="image"/>
            <result property="description" column="description"/>
            <result property="status" column="status"/>
            <result property="sort" column="sort"/>
            <result property="createTime" column="create_time"/>
            <result property="updateTime" column="update_time"/>
            <result property="createUser" column="create_user"/>
            <result property="updateUser" column="update_user"/>
            <result property="isDeleted" column="is_deleted"/>
        <association property="sysCategory" javaType="com.huayu.entity.SysCategory">
            <result property="id" column="categoryId"/>
            <result property="name" column="categoryName"/>
        </association>
    </resultMap>

    <select id="queryAll" resultMap="BaseResultMap">
        select d.id,d.category_id categoryId,d.`name`,c.`name` categoryName,d.`code`,d.image,d.description
        from sys_dish d left join sys_category c
        on d.category_id = c.id
        <where>
            <if test="sysDishVO.categoryId != null">
                and d.category_id = #{sysDishVO.categoryId}
            </if>
            <if test="sysDishVO.name != null and sysDishVO.name !='' ">
                and d.name like concat('%',#{sysDishVO.name},'%')
            </if>
        </where>


    </select>
</mapper>
